-name: Fix Vulnerable Firewall Port (RHEL + Ubuntu)

on:
  workflow_dispatch:

jobs:
  fix-firewall:
    runs-on: ansible-host

    steps:
      - name: Run firewall fix playbook
        uses: ansible/run@v1
        with:
          playbook: |
            ---
            - name: Fix firewall ports safely
              hosts: all
              become: yes
              vars:
                vulnerable_port: "80"

              tasks:
                - name: Gather facts
                  ansible.builtin.setup:

                # RHEL / CentOS
                - name: Allow SSH (RHEL)
                  ansible.builtin.command: firewall-cmd --add-service=ssh --permanent
                  when: ansible_facts['os_family'] == "RedHat"

                - name: Start firewalld
                  ansible.builtin.service:
                    name: firewalld
                    state: started
                  when: ansible_facts['os_family'] == "RedHat"

                - name: Remove vulnerable port
                  ansible.builtin.command: firewall-cmd --remove-port={{ vulnerable_port }}/tcp --permanent
                  when: ansible_facts['os_family'] == "RedHat"

                - name: Reload firewalld
                  ansible.builtin.command: firewall-cmd --reload
                  when: ansible_facts['os_family'] == "RedHat"

                # Ubuntu / Debian
                - name: Allow SSH (Ubuntu)
                  ansible.builtin.command: ufw allow 22/tcp
                  when: ansible_facts['os_family'] == "Debian"

                - name: Enable UFW
                  ansible.builtin.command: yes | ufw enable
                  when: ansible_facts['os_family'] == "Debian"

                - name: Remove vulnerable port
                  ansible.builtin.command: ufw deny {{ vulnerable_port }}
                  when: ansible_facts['os_family'] == "Debian"

                - name: Reload UFW
                  ansible.builtin.command: ufw reload
                  when: ansible_facts['os_family'] == "Debian"
