---
- name: Fix Vulnerable Firewall Port (RHEL + Ubuntu)
  hosts: all
  become: yes
  tasks:

    - name: Ensure firewalld is installed (RHEL only)
      package:
        name: firewalld
        state: present
      when: ansible_os_family == "RedHat"

    - name: Start firewalld (RHEL only)
      service:
        name: firewalld
        state: started
        enabled: yes
      when: ansible_os_family == "RedHat"

    - name: Ensure UFW is installed (Ubuntu only)
      package:
        name: ufw
        state: present
      when: ansible_os_family == "Debian"

    - name: Start UFW (Ubuntu only)
      ufw:
        state: enabled
      when: ansible_os_family == "Debian"

    - name: Close vulnerable port 80 on firewalld (RHEL only)
      firewalld:
        port: 80/tcp
        state: disabled
        permanent: yes
      when: ansible_os_family == "RedHat"

    - name: Close vulnerable port 80 on UFW (Ubuntu only)
      ufw:
        rule: deny
        port: "80"
        proto: tcp
      when: ansible_os_family == "Debian"
